*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background: #2C3333;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.card{
    width: 40rem;
    height: 40rem;
    background: #E7F6F2;
    border-radius: 5rem;
    box-shadow: 0px 1rem 2rem 0 rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}
.card--buy{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

}
.card--buy img{
    height: 70%;
    width: 100%;

}
.card--buy p{
    height: 20%;
    font-size: 75%;
    color: black;

}
.card--slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.card--slider > h2{
    font-size: 400%;
    color: black;
}

.card--slider > input{
    appearance: none;
    width: 100%;
    border-radius: 5rem;
    height: 1.8rem;
    background: linear-gradient(to top, #6441a5, #2a0845);
}

.card--slider > input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: white;
    border: none;
    cursor:pointer;
}



.card--stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    gap: 4rem;
}

.timerText{
    font-size: 200%;
}

.button{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 5rem;
    color: white;
}

.button--start{
    background: #395B64;
    color: white;
}

.button--stop{
    background: #395B64;
    color: white;
}

.button--reset{
    background: #395B64;
    color: white;
}